/* You can add global styles to this file, and also import other style files */

$fa-font-path: "../../node_modules/font-awesome/fonts";
@import "node_modules/font-awesome/scss/font-awesome";

html,
body {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  margin: 0;
}

p, div, li, a {
  font-size: 1.6rem;
  font-family: "Nunito", sans-serif;
  font-style: normal;
  text-decoration: none;
}
ul {
  margin: unset;
  padding: unset;
  list-style: none;
}

h2 {
  font-size: 2rem;
  line-height: 2rem;
}

h4 {
  font-size: 1.6rem;
  line-height: 2rem;
}
h2, h4 {
  text-transform: uppercase;
  text-align: center;
  font-weight: 900;
  margin: unset;
}

.mat-card-header .mat-card-title {
  font-size: 2rem;
  font-family: "Nunito", cursive;
  margin: 0;
}

.mat-card-content > :last-child:not(.mat-card-footer),
.mat-card > :last-child:not(.mat-card-footer) {
  margin-top: 1rem;
}

.material-icons {
  font-size: 3rem;
}

.mat-card-subtitle {
  font-size: 1.1rem;
}

