@import "../../../styles/vairables/colors";

:host {
  color: $page-blue;
}

#about {
  min-height: 400px;
  min-width: 320px;
  background-color: $page-white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2rem 0;
}

#content{
  margin: 1rem 2rem;
  font-size: 1.2rem;
  line-height: 2rem;
  text-align: justify;
  max-width: 280px;
}

@media only screen and (min-device-width: 1024px) {
  #about {
    padding: 0;
  }
  #content {
    column-count: 2;
    column-gap: 3rem;
    margin: 3rem 7rem;
    max-width: 800px;
  }
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px)  and (orientation:landscape) {
  #content {
    max-width: 80%;
  }
}