<div class="footer">
    <div class="container">
        <h4 [innerHTML]="text.title"></h4>
        <ul class="items">
            <li *ngFor="let tab of text.links">
                <a class="btn-social" [href]="tab.href" target=" _blank">
                    <span class="fab fa-fw {{tab.class}}"></span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div *ngIf="hideToTopButton" class="scroll-to-top" style="display: block;">
    <a class="js-scroll-trigger" href="#page-top">
        <span class="fa fa-chevron-up"></span>
    </a>
</div>