@import "../../../styles/vairables/colors";

:host {
  margin-top: 5rem;
  display: none;
}

nav {
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  background: $page-blue;
  transition: padding-top .3s, padding-bottom .3s;
  position: sticky;
  top: 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;
  flex-wrap: nowrap;
  margin: 0 3rem;
}

.items {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: unset;
  padding: unset;
  min-width: 200px;
}

a {
  color: white;
  flex-shrink: 0;
  font-weight: 600;
}

@media (min-width: 992px) {
  nav {
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
  }
}

@media only screen and (min-device-width: 768px) {
  :host {
    margin-top: 5rem;
    display: contents;
  }
}
