:host {
  opacity: 0.8;
  margin-top: 5rem;
}

a {
  font-size: 2rem;
}

#githubLink {
  color: #848484;
  margin-right: 1rem;;
  float: right;
}

#githubLink:hover {
  color: #691C7C;
}

nav {
  height: 38px;
  background: white;
}
