<mat-card>
  <mat-card-content>
    <div id="block">
      <p>Get to know me go throw the links 👇
      </p>
      <div class="container">
        <ul class="accordion">
          <li class="tab" *ngFor="let tab of data">
            <div class="social {{tab.class}}">
              <a href="{{tab.href}}" target=" _blank">{{tab.name}}</a>
            </div>
            <div class="content">
              <h2>{{tab.name}}</h2>
              <p>
                {{tab.text}}
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

  </mat-card-content>
</mat-card>
